$black: black;
$white: white;

$blue-light: #038aff;
$blue-lightest: #fafbff;
$blue-dark: #161348;

$grey: #728198;
$orange: #febd3d;
$green: #5ccaa7;

$desktop: 1250px;
$tablet: 834px;
$phone: 600px;

$transition: all 0.4s ease;

$font-content: 'Nunito Sans', sans-serif;